.authButton {
  border: 0px;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.2s;
}
.authButton:hover {
  opacity: 1;
}
.authButton:active {
  opacity: 0.5;
  color: rgb(66, 160, 128);
}
