.dateMarkerCell {
  background-color: #F8F8F8;
  color: rgb(83, 83, 83);
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
  font-size: 10px;
}
.footer{
  font-size: 10px;
}