.button{
  width: 70px;
  height: 70px;
  background-color: #5661CA;
  color: white;
  border: 0px;
  border-radius: 35px;
  box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.315);
  cursor: pointer;
  transition: all .2s;
}

.button:hover{
  background-color: white;
  color: #5661CA;
}
.button:active{
  background-color: #808bec;

}